{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue App</title>
</head>
<body>
  <div id="app"></div>

  <!-- Carga de los scripts -->
  <script src="{% static 'static/js/manifest.2ae2e69a05c33dfc65f8.js' %}"></script>
  <script src="{% static 'static/js/vendor.c60259e72a20b6fb9b5f.js' %}"></script>
  <script src="{% static 'static/js/app.f6aabee16cc443704f05.js' %}"></script>
</body>
</html>
